<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://172.18.19.24:3306/scalpims</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<property name="connection.is-connection-validation-required">true</property>


		<!-- JDBC connection pool (use the built-in) -->
		<!--<property name="connection.pool_size">1</property> -->

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<!--<property name="current_session_context_class">thread</property> -->

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<!--<property name="hbm2ddl.auto">update</property> -->

		<property name="current_session_context_class">thread</property>
		<mapping class="com.scal.PIMS.model.Contract" />
		<mapping class="com.scal.PIMS.model.User" />
		<mapping class="com.scal.PIMS.model.ProjectInfo" />
		<mapping class="com.scal.PIMS.model.ProjectBudget" />
		<mapping class="com.scal.PIMS.model.ProjectProgress" />
		<mapping class="com.scal.PIMS.model.Role" />
		<mapping class="com.scal.PIMS.model.Authority" />
		<mapping class="com.scal.PIMS.model.RoleAuthority" />
		<mapping class="com.scal.PIMS.model.UserRole" />
		<mapping class="com.scal.PIMS.model.ProjectSystem" />
		<mapping class="com.scal.PIMS.model.BudgetSystem" />
		<mapping class="com.scal.PIMS.model.OperateLog" />
		<mapping class="com.scal.PIMS.model.ProjectProgressHistory" />
	</session-factory>

</hibernate-configuration>